Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet6/
  
        cd aspnet-core/src/TalentV2.Migrator
  
        dotnet6 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: AngularBuild
    steps:
    - script: 'cd angular/
  
        export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
  
        nvm use 14.15
  
  ...

#54819:update Api ExportReport
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/components/export-candidate/export-candidate.component.html
  angular/src/shared/components/export-candidate/export-candidate.component.scss
  angular/src/shared/components/export-candidate/export-candidate.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54827: Update function move data requisition
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.ts
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/RequisitionInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/RequisitionStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateRequestDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54829: update Api UpdateApplicationResult
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CurrentRequisitionCandidateDto.cs
Due: azure-pipelines-be-stg.yml

:54826: Update upload max Size file
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
Due: azure-pipelines-be-stg.yml

#54831: fomat Exist Phone
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.scss
Due: azure-pipelines-fe-stg.yml

#54847: update column Note RequestCVCapabilityResult
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/Entities/RequestCVCapabilityResult.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240201062808_update_column_Note_RequestCVCapabilityResult.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240201062808_update_column_Note_RequestCVCapabilityResult.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54831:fomat Exist Phone
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.scss
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54848:update UserName Contest
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml

#54847: refactor code.
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54560: add candidate language
  angular/src/app/core/models/candidate/candidate-language.model.ts
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/app/core/services/candidate/candidate-language.service.ts
  angular/src/app/core/services/utilities.service.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/candidate/candidate.module.ts
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.html
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.scss
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.ts
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.html
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.scss
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.ts
  angular/src/app/modules/category/category-routing.module.ts
  angular/src/shared/components/multi-select-h-radio/multi-select-h-radio.component.html
  angular/src/shared/components/multi-select-h-radio/multi-select-h-radio.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/shared/pages/requisition-detail/requisition-detail.component.ts
  angular/src/shared/permission/permissions.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateLanguageAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CreateCandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/PersonBioDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/UpdatePersonBioDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/CategoryManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/CandidateLanguageDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/ICategoryManager.cs
  aspnet-core/src/TalentV2.Core/Entities/CV.cs
  aspnet-core/src/TalentV2.Core/Entities/CandidateLanguage.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20231229044535_CandidateLanguages.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20231229044535_CandidateLanguages.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

update check files size
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

#54873:Update API CreateCV
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CreateCandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/UpdatePersonBioDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54873:refactor code
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
Due: azure-pipelines-fe-stg.yml

#54873:update name Label
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
Due: azure-pipelines-fe-stg.yml

#54887: fix bug createCV
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54888: Add menu Guideline
  angular/src/app/layout/sidebar-menu.component.ts
Due: azure-pipelines-fe-stg.yml

#54891:update API CreateAccountStudent
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml

#54893:Fix bug edits Phone
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54893:Fix bug edits Phone (#68)
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54904: Report > arrange CreateByUser
  angular/src/app/core/services/report/report-overview.service.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54905:display URL contest
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54905:display URL contest (#71)
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54904: Report > arrange CreateByUser (#72)
  angular/src/app/core/services/report/report-overview.service.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54913: Eorre error when you already have a CV
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54914: update text Candiate and collapse notify success
  angular/src/app/app.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54912: add new page ViewFiles
  angular/src/app/modules/candidate/candidate-routing.module.ts
  angular/src/app/modules/candidate/candidate.module.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.html
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.scss
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54912: update View Files
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54913: Eorre error when you already have a CV (#75)
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54888: Add menu Guideline (#64)
  angular/src/app/layout/sidebar-menu.component.ts
Due: azure-pipelines-fe-stg.yml

#54912: update View Files (#79)
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54914:update text Candiate and collapse notify success
  angular/src/app/app.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54914:update text Candiate and collapse notify success (#81)
  angular/src/app/app.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54915: phone number oly
  angular/src/shared/directives/number-only.directive.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54919:update view file
  angular/src/app/modules/candidate/candidate-routing.module.ts
  angular/src/app/modules/candidate/candidate.module.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.html
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.scss
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54918:Candidate > edits Gender and Assign to
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54920: Filter level by Score
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#51920: update function levelFilterbyScore
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

Path conditions:
  azure-pipelines-be-stg.yml: any of: aspnet-core, azure-pipelines-be-stg.yml
  azure-pipelines-fe-stg.yml: any of: angular, azure-pipelines-fe-stg.yml
