Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet6/
  
        cd aspnet-core/src/TalentV2.Migrator
  
        dotnet6 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: AngularBuild
    steps:
    - script: 'cd angular/
  
        export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
  
        nvm use 14.15
  
  ...

Fix Recruitment Overview Report
  angular/src/app/core/models/report/report.model.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

add isActive condition
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

Apply version for Scheduled Test mail
  angular/src/app/core/models/common/common.dto.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/common.service.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CommonAppService.cs
  aspnet-core/src/TalentV2.Application/MultiTenancy/TenantAppService.cs
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/CategoryDto.cs
  aspnet-core/src/TalentV2.Core/Entities/EmailTemplate.cs
  aspnet-core/src/TalentV2.Core/Notifications/Mail/IMailService.cs
  aspnet-core/src/TalentV2.Core/Notifications/Mail/MailService.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/Dtos/MailInfo.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/Seed/Emails/DefaultEmailSettingsCreator.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240721081927_Add_version_column_in_EmailTemplate.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240721081927_Add_version_column_in_EmailTemplate.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Add position info
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CurrentRequisitionCandidateDto.cs
Due: azure-pipelines-be-stg.yml

adjust UI/UX
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

adjust handleSendMail function
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

fix Updated Time column in candidate pages
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
Due: azure-pipelines-fe-stg.yml

hotfix
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

add filter for updated time in candidate page
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.html
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.ts
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.html
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.ts
Due: azure-pipelines-fe-stg.yml

fix candidate auto update
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

crawlData
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CVTransformHelper/CVAutomationFirebase.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CVTransformHelper/CVScanResulFromFireBase.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/ConstantHelper/FirebaseSyncConstant.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/Entities/FirebaseCareerLog.cs
  aspnet-core/src/TalentV2.Core/Firebase/FirebaseConfig.cs
  aspnet-core/src/TalentV2.Core/Firebase/FirebaseService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Autobot/AutobotService.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
  aspnet-core/src/TalentV2.Web.Host/wwwroot/tenant_host/talent/candidates/cvs/20240809161702_CV Intern .NET - VietTranQuoc.pdf
  aspnet-core/src/TalentV2.Web.Host/wwwroot/tenant_host/talent/candidates/cvs/20240809161714_CV_Frontend-Developer_Truong-Quoc-Truong.pdf
Due: azure-pipelines-be-stg.yml

deleteSerectKey
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

add phone length condition
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml

add name condition
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml

add phone and name condition
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml

Styling for updated time form in requisition page
  angular/styles/requisition/requisition.scss
Due: azure-pipelines-fe-stg.yml

crawlCV-v2
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/FirebaseLogStatusConstant.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/Dto/CVScanResultFromFireBase.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/ICVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/Entities/FirebaseCareerLog.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Autobot/AutobotService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Firebase/FirebaseConfig.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Firebase/FirebaseServices.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
Due: azure-pipelines-be-stg.yml

Bug fix - issue automation create CV
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml

Update date picker responsive candidate module
  angular/src/app/modules/candidate/apply-cv/apply-cv.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-interview/candidate-interview.component.html
  angular/src/app/modules/candidate/candidate-onboard-list/candidate-onboard-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/category/posts/posts.component.html
  angular/src/app/modules/category/posts/posts.component.scss
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.html
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.html
  angular/src/shared/components/date-selector/date-selector.component.html
  angular/src/shared/components/date-selector/date-selector.component.scss
  angular/src/shared/components/date-selector/date-selector.component.ts
  angular/styles/candidate/candidate.scss
  angular/styles/requisition/requisition.scss
Due: azure-pipelines-fe-stg.yml

Update date picker form responsive
  angular/src/app/modules/report/intern-recruitment-performance/intern-recruitment-performance.component.html
  angular/src/app/modules/report/intern-recruitment-performance/intern-recruitment-performance.component.scss
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
  angular/src/app/modules/report/staff-recruitment-performance/staff-recruitment-performance.component.html
  angular/src/app/modules/report/staff-recruitment-performance/staff-recruitment-performance.component.scss
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.html
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.html
  angular/src/shared/components/date-selector/date-selector.component.ts
Due: azure-pipelines-fe-stg.yml

crawlCV-v2.1 edited
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/FirebaseLogStatusConstant.cs
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/Dto/CVScanResultFromFireBase.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/ICVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/Entities/FirebaseCareerLog.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/FileCandidateService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Autobot/AutobotService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Firebase/FirebaseConfig.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Firebase/FirebaseServices.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

crawlcv-v2
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/FirebaseLogStatusConstant.cs
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/Dto/CVScanResultFromFireBase.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/ICVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/Entities/FirebaseCareerLog.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/FileCandidateService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Autobot/AutobotService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Firebase/FirebaseConfig.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Firebase/FirebaseServices.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

Update sidebar UI and fix requisition page responsive UI
  angular/src/app/app.module.ts
  angular/src/app/layout/header-language-menu.component.html
  angular/src/app/layout/header-language-menu.component.ts
  angular/src/app/layout/sidebar-footer/sidebar-footer.component.html
  angular/src/app/layout/sidebar-footer/sidebar-footer.component.scss
  angular/src/app/layout/sidebar-footer/sidebar-footer.component.ts
  angular/src/app/layout/sidebar.component.html
  angular/src/app/layout/sidebar.component.scss
  angular/src/app/layout/sidebar.component.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.scss
Due: azure-pipelines-fe-stg.yml

updated migration for adding tbFirebaseLog
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240904101718_add-firebaseLog.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240904101718_add-firebaseLog.cs
Due: azure-pipelines-be-stg.yml

Update table UI in recruitment overview page
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
Due: azure-pipelines-fe-stg.yml

fix bug crawlCv-v2
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/FirebaseLogStatusConstant.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Autobot/AutobotService.cs
Due: azure-pipelines-be-stg.yml

add status500 check
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Autobot/AutobotService.cs
Due: azure-pipelines-be-stg.yml

fix bug : "Length overflow error when saving CV to the database"
  aspnet-core/src/TalentV2.Core/Constants/Const/CvAnnotationValue.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml

Fix responsive and some UI bug of personal info page, auto hide sidebar with small UI, update disable UI for all form
  angular/src/app/app.component.html
  angular/src/app/app.component.ts
  angular/src/app/layout/sidebar.component.scss
  angular/src/app/layout/sidebar.component.ts
  angular/src/shared/layout/layout-store.service.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.scss
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.scss
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/styles.scss
Due: azure-pipelines-fe-stg.yml

fix bug : "Length overflow error when saving CV to the database"
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml

intergrated Hangfire Dashboard
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.ts
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/Hangfire/BackgroundWorkerInitation.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NoticeInterviewResultWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NoticeInterviewWorker.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/TalentV2.Core.csproj
  aspnet-core/src/TalentV2.Web.Host/HangfireAuthentication.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
  aspnet-core/src/TalentV2.Web.Host/TalentV2.Web.Host.csproj
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

commit : intergrate Hangfire
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.ts
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/Hangfire/BackgroundWorkerInitation.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NoticeInterviewResultWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NoticeInterviewWorker.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
  aspnet-core/src/TalentV2.Web.Host/HangfireAuthentication.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
  aspnet-core/src/TalentV2.Web.Host/TalentV2.Web.Host.csproj
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Update filter responsive UI for all page
  angular/src/app/modules/admin/tenants/tenants.component.html
  angular/src/app/modules/admin/tenants/tenants.component.ts
  angular/src/app/modules/admin/users/users.component.html
  angular/src/app/modules/admin/users/users.component.ts
  angular/src/app/modules/category/capabilities/capabilities.component.html
  angular/src/app/modules/category/capability-setting/capability-setting.component.html
  angular/src/app/modules/category/education/education.component.html
  angular/src/app/modules/category/position-setting/position-setting.component.html
  angular/src/app/modules/category/posts/posts.component.html
  angular/src/app/modules/category/posts/posts.component.ts
  angular/src/app/modules/category/score-setting/score-setting.component.html
  angular/src/app/modules/category/sub-position/sub-position.component.html
  angular/src/app/modules/ncc-cv/project/list-project/list-project.component.html
  angular/src/app/modules/ncc-cv/working-experience/working-experience.component.html
  angular/src/shared/AppConsts.ts
  angular/src/shared/components/section-breadcrumb/section-breadcrumb.component.html
  angular/src/shared/components/talent-radio-switch/talent-radio-switch.component.html
  angular/src/shared/components/talent-radio-switch/talent-radio-switch.component.scss
  angular/src/shared/components/talent-radio-switch/talent-radio-switch.component.ts
  angular/src/shared/shared.module.ts
  angular/src/styles.scss
Due: azure-pipelines-fe-stg.yml

Update all modals responsive UI
  angular/src/app/modules/admin/tenants/create-tenant/create-tenant-dialog.component.html
  angular/src/app/modules/admin/tenants/edit-tenant/edit-tenant-dialog.component.html
  angular/src/app/modules/admin/users/create-user/create-user-dialog.component.html
  angular/src/app/modules/admin/users/create-user/create-user-dialog.component.ts
  angular/src/app/modules/admin/users/edit-user/edit-user-dialog.component.html
  angular/src/app/modules/category/capability-setting/clone-capability-setting/clone-capability-setting.component.html
  angular/src/app/modules/category/capability-setting/pick-list-capability/pick-list-capability.component.html
  angular/src/app/modules/category/capability-setting/pick-list-capability/pick-list-capability.component.scss
  angular/src/app/modules/category/capability-setting/pick-list-capability/pick-list-capability.component.ts
  angular/src/app/modules/category/posts/post-dialog/post-dialog.component.html
  angular/src/app/modules/category/posts/posts.component.html
  angular/src/app/modules/ncc-cv/my-profile/working-experiences-dialog/working-experiences-dialog.component.html
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.html
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.html
  angular/src/shared/components/validation/abp-validation.summary.component.ts
  angular/src/styles.scss
Due: azure-pipelines-fe-stg.yml

Update all modals responsive UI
  angular/src/app/modules/category/capabilities/capabilities.component.html
  angular/src/app/modules/category/capability-setting/capability-setting.component.html
  angular/src/app/modules/category/education/education.component.html
  angular/src/app/modules/category/position-setting/position-setting.component.html
  angular/src/app/modules/category/posts/post-dialog/post-dialog.component.html
  angular/src/app/modules/category/score-setting/score-setting.component.html
  angular/src/app/modules/category/sub-position/sub-position.component.html
  angular/src/app/modules/ncc-cv/my-profile/my-profile.component.spec.ts
  angular/src/app/modules/ncc-cv/my-profile/personal-attribute/personal-attribute.component.html
  angular/src/app/modules/ncc-cv/my-profile/profile-education/profile-education.component.html
  angular/src/app/modules/ncc-cv/my-profile/profile-education/profile-education.component.scss
Due: azure-pipelines-fe-stg.yml

Update responsive for Configuration and Employee Profile page
  angular/src/app/core/models/employee-profile/profile-model.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.scss
  angular/src/app/modules/ncc-cv/my-profile/my-profile.component.html
  angular/src/app/modules/ncc-cv/my-profile/my-profile.component.scss
  angular/src/app/modules/ncc-cv/my-profile/my-profile.component.ts
  angular/src/app/modules/ncc-cv/my-profile/personal-attribute/personal-attribute.component.html
  angular/src/app/modules/ncc-cv/my-profile/personal-attribute/personal-attribute.component.ts
  angular/styles/_util.scss
Due: azure-pipelines-fe-stg.yml

Update responsive for Configuration and Employee Profile page
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.scss
  angular/src/shared/layout/layout-store.service.ts
Due: azure-pipelines-fe-stg.yml

Update responsive for Configuration and Employee Profile page
  angular/src/styles.scss
Due: azure-pipelines-fe-stg.yml

Path conditions:
  azure-pipelines-be-stg.yml: any of: aspnet-core, azure-pipelines-be-stg.yml
  azure-pipelines-fe-stg.yml: any of: angular, azure-pipelines-fe-stg.yml
