Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - aspnet-core
      - azure-pipelines-be-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: DotnetBuild
    steps: 
    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core/src/TalentV2.Migrator
        dotnet6 publish -c Release
      displayName: 'Dotnet Publish Migrator'

    - script: |
        cd aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/
        zip -r backend_migrator.zip *
      displayName: 'Compress Publish Migrator'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/backend_migrator.zip'
        ArtifactName: 'stg-dotnet-migrator-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Migrator'


    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core
        dotnet6 publish -c Release
      displayName: 'Dotnet Release Host'
    
    - script: |
        cd aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/
        zip -r backend_publish.zip *
      displayName: 'Compress Release Host'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/backend_publish.zip'
        ArtifactName: 'stg-dotnet-host-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Host'

azure-pipelines-fe-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - angular
      - azure-pipelines-fe-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: AngularBuild
    steps:


      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15
          node -v
          echo "=== INSTALL PACKAGE ==="
          npm install
        displayName: 'Install Package'
      
      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15          
          ng build --prod
        displayName: 'Build Frontend'
      
      - script: |
          cd angular/dist
          zip -r frontend_publish.zip *
        displayName: 'Compress Build FE'
        
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'angular/dist/frontend_publish.zip'
          ArtifactName: 'stg-fe-talent'
          publishLocation: 'Container'
        displayName: 'Publish Artifacts Frontend'

#54919:update page view file CV
  angular/src/app/modules/candidate/candidate-routing.module.ts
  angular/src/app/modules/candidate/candidate.module.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.html
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.scss
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54920: Filter level by Score
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54919:update page view file CV (#86)
  angular/src/app/modules/candidate/candidate-routing.module.ts
  angular/src/app/modules/candidate/candidate.module.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.html
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.scss
  angular/src/shared/pages/create-candidate/view-flles/view-flles.component.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54918:Candidate > edits Gender and Assign to (#84)
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54920:refactored code
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54920: updatete Variable name
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54920: Filter level by Score (#87)
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54919: update library
  angular/package-lock.json
  angular/package.json
Due: azure-pipelines-fe-stg.yml

Task 54912 :update View Files (#89)
  angular/package-lock.json
  angular/package.json
Due: azure-pipelines-fe-stg.yml

#54919: update library
  angular/package-lock.json
  angular/package.json
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54919: :update library
  angular/package-lock.json
  angular/package.json
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#54919: :update library (#91)
  angular/package-lock.json
  angular/package.json
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

#delete package-lock.json
  angular/package-lock.json
Due: azure-pipelines-fe-stg.yml

#54983: Only visible to documents
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
Due: azure-pipelines-fe-stg.yml

#54984: update function levelFilterbyScore
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54983: Only visible to documents
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#54983: update display CV
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
Due: azure-pipelines-fe-stg.yml

#55000: config PublicClientRootAddress
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/PostDto.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/Startup.cs
Due: azure-pipelines-be-stg.yml

#55000: update ApplyCvLink and function onsubmit
  angular/src/apply-cv/apply-cv.component.html
  angular/src/apply-cv/apply-cv.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/PostDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#55006: Validate files CV
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

upload ci/cd applycv_dev
  .github/workflows/deploy_server_dev_applycv_be.yml
  .github/workflows/deploy_server_dev_applycv_fe.yml
Due: none

update runs-on applycv-dev
  .github/workflows/deploy_server_dev_applycv_fe.yml
Due: none

run ci/cd
  angular/src/index.html
Due: azure-pipelines-fe-stg.yml

#55007:move Note Personal Info to Requisitino
  angular/src/shared/pages/create-candidate/create-candidate.component.html
  angular/src/shared/pages/create-candidate/create-candidate.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#55012: edits PostId and view Apply Number
  angular/src/app/modules/candidate/apply-cv/apply-cv.component.ts
  angular/src/app/modules/category/posts/posts.component.html
Due: azure-pipelines-fe-stg.yml

#55006: hot fix Validate files CV
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#55039:add QuantityAcceptedOffer
  angular/src/app/core/models/requisition/requisition.model.ts
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.html
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.html
  angular/styles/requisition/requisition.scss
  aspnet-core/src/TalentV2.Core/DomainServices/Requisitions/Dtos/RequisitionDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Requisitions/RequisitionManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#55040:CV name is not displayed
  angular/src/shared/pages/create-candidate/create-candidate.component.html
  angular/src/shared/pages/create-candidate/create-candidate.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

#55040: update view files cv
  angular/src/shared/pages/create-candidate/create-candidate.component.ts
Due: azure-pipelines-fe-stg.yml

#55039: update text Quantity Accepted Offer
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.html
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.html
  angular/styles/requisition/requisition.scss
Due: azure-pipelines-fe-stg.yml

fix bug score validation
  angular/src/app/modules/category/score-setting/dialog-score-setting/dialog-score-setting.component.html
  angular/src/app/modules/category/score-setting/dialog-score-setting/dialog-score-setting.component.ts
Due: azure-pipelines-fe-stg.yml

change score setting validator
  aspnet-core/src/TalentV2.Core/DomainServices/ScoreSettings/ScoreSettingManager.cs
Due: azure-pipelines-be-stg.yml

55124: Change NCC office address on Talentcv site
  angular/src/apply-cv/apply-cv.component.html
Due: azure-pipelines-fe-stg.yml

55129: Cannot save the score range in score setting page
  angular/src/app/modules/category/score-setting/dialog-score-setting/dialog-score-setting.component.ts
Due: azure-pipelines-fe-stg.yml
