Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet6/
  
        cd aspnet-core/src/TalentV2.Migrator
  
        dotnet6 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: AngularBuild
    steps:
    - script: 'cd angular/
  
        export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
  
        nvm use 14.15
  
  ...

fix issue in mezon login flow
  angular/src/account/auth-callback/auth-callback.component.ts
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

BE - initialize commit
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/ReportEducationHaveCVPassTestDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

report candidate density
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/CandidateDensityByEducationReportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/CandidateQuantityByEducationReportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/GeneralEducationInformationDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/ReportEducationByBranchDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/ReportEducationHaveCVPassTestDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

update lunch allowance
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
Due: azure-pipelines-be-stg.yml

update lunch allowance (#283)
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
Due: azure-pipelines-be-stg.yml

features get all interviewers in interview
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/InterviewInfoDto.cs
Due: azure-pipelines-be-stg.yml

dev25b add feature report candidate by education
  angular/src/app/core/services/report/report-intern.service.ts
  angular/src/app/modules/report/report-education/components/percentage-chart.component.ts
  angular/src/app/modules/report/report-education/components/quantity-chart.component.ts
  angular/src/app/modules/report/report-education/components/stage-filter.component.ts
  angular/src/app/modules/report/report-education/helpers/report-education.helper.ts
  angular/src/app/modules/report/report-education/interfaces/report-education.interface.ts
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
  angular/src/app/modules/report/report-education/report-education.component.ts
  angular/src/app/modules/report/report.module.ts
Due: azure-pipelines-fe-stg.yml

fix bug should append dropdown to body to show correct UI
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
Due: azure-pipelines-fe-stg.yml

update group charts by branch
  angular/src/app/modules/report/report-education/components/percentage-chart.component.ts
  angular/src/app/modules/report/report-education/components/quantity-chart.component.ts
  angular/src/app/modules/report/report-education/components/stage-filter.component.ts
  angular/src/app/modules/report/report-education/helpers/report-education.helper.ts
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
  angular/src/app/modules/report/report-education/report-education.component.ts
  angular/src/app/modules/report/report.module.ts
Due: azure-pipelines-fe-stg.yml

update report
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

add option show/hide items no data to charts report
  angular/src/app/modules/report/report-education/components/percentage-chart.component.ts
  angular/src/app/modules/report/report-education/components/quantity-chart.component.ts
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
  angular/src/app/modules/report/report-education/report-education.component.ts
Due: azure-pipelines-fe-stg.yml

update report status
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

fix should show onboard status in percent chart
  angular/src/app/modules/report/report-education/report-education.component.ts
Due: azure-pipelines-fe-stg.yml

require Passed CV status for requisition
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/components/tag-select/tag-select.component.ts
  angular/src/shared/pages/create-candidate/create-candidate.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

update required passed CV message
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
Due: azure-pipelines-fe-stg.yml

Require Passed CV status for requisition (#300)
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/components/tag-select/tag-select.component.ts
  angular/src/shared/pages/create-candidate/create-candidate.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

update hash validation function
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/Utils/HashingUtils.cs
Due: azure-pipelines-be-stg.yml

251015 - Dev25b/update hashing function (#304)
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/Utils/HashingUtils.cs
Due: azure-pipelines-be-stg.yml

Update accept offer mail template
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/Dtos/AllInformationRequestCVDto.cs
Due: azure-pipelines-be-stg.yml

update accept offer mail template
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/Dtos/AllInformationRequestCVDto.cs
Due: azure-pipelines-be-stg.yml

update total salary
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/Dtos/AllInformationRequestCVDto.cs
Due: azure-pipelines-be-stg.yml

update mini-app authentication from windows event to url base
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  angular/src/patches/abp.patch.js
  angular/src/root.component.ts
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Chore: Redirect to original url after relogin
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
Due: azure-pipelines-fe-stg.yml

Revert "Feat Redirect to original url after login"
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
Due: azure-pipelines-fe-stg.yml

Feat/redirect to original url (#313)
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/patches/abp.patch.js
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Revert "Feat Redirect to original url after login" (#312)
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
Due: azure-pipelines-fe-stg.yml

Example: Mezon silent check auth
  angular/src/account/auth-callback/auth-callback.component.html
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  angular/src/root.component.ts
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/MezonService.cs
  aspnet-core/src/TalentV2.Web.Core/Controllers/TokenAuthController.cs
  docs/Silent-Authentication-Flow.md
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Merge Stg to Dev (#314)
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
Due: azure-pipelines-fe-stg.yml

Auto login
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/layout/sidebar-footer/sidebar-footer.component.html
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
Due: azure-pipelines-fe-stg.yml

Feat: Auto Login with Mezon (#316)
  angular/src/account/auth-callback/auth-callback.component.html
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app-initializer.ts
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  angular/src/app/layout/sidebar-footer/sidebar-footer.component.html
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/root.component.ts
  angular/src/root.module.ts
  angular/src/shared/AppRoutes.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/helpers/UrlHelper.ts
  angular/src/shared/session/app-session.service.ts
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/MezonService.cs
  aspnet-core/src/TalentV2.Web.Core/Controllers/TokenAuthController.cs
  docs/Silent-Authentication-Flow.md
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

FEat: Udpate qunatity to Report
  angular/src/app/modules/report/intern-recruitment-performance/intern-recruitment-performance.component.html
  angular/src/app/modules/report/intern-recruitment-performance/intern-recruitment-performance.component.ts
  angular/src/app/modules/report/report-education/components/percentage-chart.component.ts
  angular/src/app/modules/report/report-education/report-education.component.ts
  angular/src/app/modules/report/staff-recruitment-performance/staff-recruitment-performance.component.html
  angular/src/app/modules/report/staff-recruitment-performance/staff-recruitment-performance.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

FEat: Udpate qunatity to Report (#318)
  angular/src/app/modules/report/intern-recruitment-performance/intern-recruitment-performance.component.html
  angular/src/app/modules/report/intern-recruitment-performance/intern-recruitment-performance.component.ts
  angular/src/app/modules/report/report-education/components/percentage-chart.component.ts
  angular/src/app/modules/report/report-education/report-education.component.ts
  angular/src/app/modules/report/staff-recruitment-performance/staff-recruitment-performance.component.html
  angular/src/app/modules/report/staff-recruitment-performance/staff-recruitment-performance.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Update Summary report excel
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

Update: Candidate Export CV Source
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

Resole merge conflict
  angular/src/app/core/interceptors/http-error.interceptor.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/root-routing.module.ts
  angular/src/shared/auth/auth-route-guard.ts
Due: azure-pipelines-fe-stg.yml

update mezon user info model
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
Due: azure-pipelines-be-stg.yml

update mezon user info model (#322)
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
Due: azure-pipelines-be-stg.yml

feat: add candidate status column to export candidate
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/shared/components/export-candidate/export-candidate.component.html
  angular/src/shared/components/export-candidate/export-candidate.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

update package lock file to fix build error
  angular/package-lock.json
Due: azure-pipelines-fe-stg.yml

Enhance backup and copy steps with error handling
  .github/workflows/deploy_server_dev_be.yml
Due: none

Path conditions:
  azure-pipelines-be-stg.yml: any of: aspnet-core, azure-pipelines-be-stg.yml
  azure-pipelines-fe-stg.yml: any of: angular, azure-pipelines-fe-stg.yml
