Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet6/
  
        cd aspnet-core/src/TalentV2.Migrator
  
        dotnet6 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe-stg.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: AngularBuild
    steps:
    - script: 'cd angular/
  
        export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
  
        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
  
        nvm use 14.15
  
  ...

update ci/cd fe/be dev
  .github/workflows/deploy_server_dev_be.yml
  .github/workflows/deploy_server_dev_fe.yml
Due: none

update ci/cd be dev
  .github/workflows/deploy_server_dev_be.yml
Due: none

#56082 Export Candidate
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml

#51610 Export Report
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/ChartType.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

update ci/cd
  .github/workflows/deploy_server_dev_be.yml
  .github/workflows/deploy_server_prod_be.yml
  .github/workflows/deploy_server_prod_fe.yml
  .github/workflows/deploy_server_stg_be.yml
  .github/workflows/deploy_server_stg_fe.yml
Due: none

update ci/cd
  .github/workflows/deploy_server_prod_be.yml
Due: none

#51610:export Report
  angular/src/app/core/services/apis/base-api.service.ts
  angular/src/app/core/services/report/report-intern.service.ts
  angular/src/app/core/services/report/report-overview.service.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
  angular/src/app/modules/report/report-education/report-education.component.ts
  angular/src/export-dialog/export-dialog.component.html
  angular/src/export-dialog/export-dialog.component.scss
  angular/src/export-dialog/export-dialog.component.ts
  angular/src/export-dialog/export-dialog.module.ts
  angular/src/export-dialog/export-dialog.service.ts
  angular/src/root.module.ts
  angular/src/shared/permission/permissions.ts
  angular/src/styles.scss
Due: azure-pipelines-fe-stg.yml

#51610:Export Candidate
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.scss
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.scss
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/shared/components/export-candidate/export-candidate.component.html
  angular/src/shared/components/export-candidate/export-candidate.component.scss
  angular/src/shared/components/export-candidate/export-candidate.component.spec.ts
  angular/src/shared/components/export-candidate/export-candidate.component.ts
  angular/src/shared/shared.module.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/ReportEducationHaveCVPassInterViewDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#52481:bug close popup
  angular/src/app/modules/category/branch/branch.component.ts
  angular/src/app/modules/category/capabilities/capability-dialog/capability-dialog.component.html
  angular/src/app/modules/category/capability-setting/capability-setting.component.ts
  angular/src/app/modules/category/capability-setting/edit-guideline-dialog/edit-guideline-dialog.component.html
  angular/src/app/modules/category/category.module.ts
  angular/src/app/modules/category/cv-sources/cv-sources.component.ts
  angular/src/app/modules/category/education-types/education-types.component.ts
  angular/src/app/modules/category/education/education.component.ts
  angular/src/app/modules/category/job-positions/job-positions.component.ts
  angular/src/app/modules/category/position-setting/lms-setting-dialog/lms-setting-dialog.component.ts
  angular/src/app/modules/category/position-setting/position-setting-dialog/position-setting-dialog.component.ts
  angular/src/app/modules/category/skill/skill.component.ts
  angular/src/app/modules/category/sub-position/sub-position.component.ts
Due: azure-pipelines-fe-stg.yml

#51610:update passInterview
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/ReportEducationHaveCVPassInterViewDto.cs
Due: azure-pipelines-be-stg.yml

#51610:update permissions and refactor code
  angular/src/app/core/services/apis/base-api.service.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/app/core/services/export/export-dialog.service.ts
  angular/src/app/core/services/report/report-intern.service.ts
  angular/src/app/core/services/report/report-overview.service.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.ts
  angular/src/export-dialog/export-dialog.module.ts
  angular/src/root.module.ts
  angular/src/shared/components/export-dialog/export-dialog.component.html
  angular/src/shared/components/export-dialog/export-dialog.component.scss
  angular/src/shared/components/export-dialog/export-dialog.component.ts
  angular/src/shared/permission/permissions.ts
  angular/src/shared/shared.module.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#52970:update responsive
  angular/src/app/modules/admin/roles/roles.component.html
  angular/src/app/modules/admin/tenants/tenants.component.html
  angular/src/app/modules/admin/users/users.component.html
  angular/src/app/modules/admin/users/users.component.ts
  angular/src/app/modules/category/branch/branch.component.html
  angular/src/app/modules/category/capabilities/capabilities.component.html
  angular/src/app/modules/category/cv-sources/cv-sources.component.html
  angular/src/app/modules/category/education-types/education-types.component.html
  angular/src/app/modules/category/education/education.component.html
  angular/src/app/modules/category/job-positions/job-positions.component.html
  angular/src/app/modules/category/posts/posts.component.html
  angular/src/app/modules/category/posts/posts.component.ts
  angular/src/app/modules/category/skill/skill.component.html
  angular/src/app/modules/category/sub-position/sub-position.component.html
  angular/src/shared/pages/create-candidate/candidate-skill/candidate-skill.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.scss
  angular/styles/_util.scss
Due: azure-pipelines-fe-stg.yml

#52970:refactor code
  angular/src/app/modules/admin/roles/roles.component.html
  angular/src/app/modules/category/posts/posts.component.ts
Due: azure-pipelines-fe-stg.yml

#52970:update Permission Score view
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be-stg.yml

#52970:update Permission edit and delete score
  angular/src/app/modules/category/score-setting/score-setting.component.html
  angular/src/app/modules/ncc-cv/employee-position/employee-position.component.html
  angular/src/app/modules/ncc-cv/fake-skill/fake-skill.component.html
  angular/src/app/modules/ncc-cv/group-skill/group-skill.component.html
Due: azure-pipelines-fe-stg.yml

#52667: edit email template
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.html
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.scss
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

#53075: Colne according to created by
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

#53075: refactor code
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

#52667:refector code
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

#53075:refector code
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

#52667 : update edit email template
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.html
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

#53324: export candidate HyperLink wrong position
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.scss
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.scss
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

:refocter code
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

#53523: lost data Interviewer suggest level
  angular/src/app/core/models/candidate/candiadte-requisition.model.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/UpdateApplicationResultDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#53224:export candidate HyperLink wrong position
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

#53224-responsive:responsive button export
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.html
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.scss
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
  angular/src/app/modules/report/report-education/report-education.component.html
  angular/src/app/modules/report/report-education/report-education.component.scss
Due: azure-pipelines-fe-stg.yml

#54006: Field All Passedinterviewed
  aspnet-core/src/TalentV2.Application/APIs/InterviewAppService.cs
Due: azure-pipelines-be-stg.yml

#54347: refactor code
  angular/src/shared/shared.module.ts
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/ReportEducationHaveCVPassInterViewDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54294:notify Interviewer suggest level:
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/DomainServicesWithoutWorkScope/CandidateManager/Dtos/NoticeInterviewDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

refactor code
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54539:update edit mail Template
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

update
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

refactor code
  angular/src/app/modules/admin/mail/edit-mail-dialog/edit-mail-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

#54540:update logic Recruitment Overview
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/StatisticRequestCVHistory.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

#54560: update contest Setting
  angular/src/app/core/models/configuration/configuration.model.ts
  angular/src/app/core/services/configrations/configuration.service.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.ts
  angular/src/shared/permission/permissions.ts
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Application/Configuration/Dto/SecretCodeTalentInput.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProviderDefaultValue.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
  aspnet-core/src/TalentV2.Core/TalentV2CoreModule.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

refactor code
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
Due: azure-pipelines-be-stg.yml

Path conditions:
  azure-pipelines-be-stg.yml: any of: aspnet-core, azure-pipelines-be-stg.yml
  azure-pipelines-fe-stg.yml: any of: angular, azure-pipelines-fe-stg.yml
