Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - aspnet-core
      - azure-pipelines-be-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: DotnetBuild
    steps: 
    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core/src/TalentV2.Migrator
        dotnet6 publish -c Release
      displayName: 'Dotnet Publish Migrator'

    - script: |
        cd aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/
        zip -r backend_migrator.zip *
      displayName: 'Compress Publish Migrator'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/backend_migrator.zip'
        ArtifactName: 'stg-dotnet-migrator-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Migrator'


    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core
        dotnet6 publish -c Release
      displayName: 'Dotnet Release Host'
    
    - script: |
        cd aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/
        zip -r backend_publish.zip *
      displayName: 'Compress Release Host'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/backend_publish.zip'
        ArtifactName: 'stg-dotnet-host-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Host'

azure-pipelines-fe-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - angular
      - azure-pipelines-fe-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: AngularBuild
    steps:


      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15
          node -v
          echo "=== INSTALL PACKAGE ==="
          npm install
        displayName: 'Install Package'
      
      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15          
          ng build --prod
        displayName: 'Build Frontend'
      
      - script: |
          cd angular/dist
          zip -r frontend_publish.zip *
        displayName: 'Compress Build FE'
        
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'angular/dist/frontend_publish.zip'
          ArtifactName: 'stg-fe-talent'
          publishLocation: 'Container'
        displayName: 'Publish Artifacts Frontend'

Add cursor pointer for file icon
  angular/src/app/modules/candidate/apply-cv/apply-cv.component.html
  angular/src/app/modules/candidate/external-cv/detail-external-cv/detail-external-cv.component.html
  angular/src/app/modules/candidate/external-cv/external-cv.component.html
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
Due: azure-pipelines-fe-stg.yml

set zoom for pdf viewer
  angular/src/shared/components/pdf-doc-viewer/pdf-doc-viewer.component.ts
Due: azure-pipelines-fe-stg.yml

update doc view UI
  angular/src/app/core/services/custom-dialog/custom-dialog.service.ts
  angular/src/shared/components/pdf-doc-viewer/pdf-doc-viewer.component.html
  angular/src/shared/components/pdf-doc-viewer/pdf-doc-viewer.component.scss
  angular/src/shared/components/pdf-doc-viewer/pdf-doc-viewer.component.ts
Due: azure-pipelines-fe-stg.yml

Update CV automation worker meet with split settings
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
Due: azure-pipelines-be-stg.yml

Revert "PDF DOC Viewer" feature
  angular/src/app/modules/candidate/apply-cv/apply-cv.component.html
  angular/src/app/modules/candidate/apply-cv/apply-cv.component.ts
  angular/src/app/modules/candidate/external-cv/detail-external-cv/detail-external-cv.component.html
  angular/src/app/modules/candidate/external-cv/detail-external-cv/detail-external-cv.component.ts
  angular/src/app/modules/candidate/external-cv/external-cv.component.html
  angular/src/app/modules/candidate/external-cv/external-cv.component.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

Add 'Fail' option for interviewer for Staff candidate
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

update create acccount dropdown default value
  angular/src/app/core/models/candidate/candiadte-requisition.model.ts
  angular/src/shared/AppConsts.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

update convertPhoneNumber function
  angular/src/app/core/helpers/utils.helper.ts
Due: azure-pipelines-fe-stg.yml

Add appsettings for CV automation
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

Update separate send email to another thread
  aspnet-core/src/TalentV2.Application/APIs/CommonAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/MailAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/PersonBioDto.cs
  aspnet-core/src/TalentV2.Core/Notifications/Mail/MailService.cs
Due: azure-pipelines-be-stg.yml

Update separate send email to another thread
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

Rename var from user to email in CV automation worker
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
Due: azure-pipelines-be-stg.yml

Update export candidate modal UI
  angular/src/shared/components/export-candidate/export-candidate.component.html
  angular/src/shared/components/export-candidate/export-candidate.component.scss
  angular/src/shared/components/export-candidate/export-candidate.component.ts
  angular/styles/_util.scss
Due: azure-pipelines-fe-stg.yml

fix export report
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/LevelDto.cs
  aspnet-core/src/TalentV2.Core/ModelExtends/UserInfo.cs
  aspnet-core/src/TalentV2.Core/Utils/CommonUtils.cs
Due: azure-pipelines-be-stg.yml

Update export candidate modal and add notify CV setting
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/models/configuration/configuration.model.ts
  angular/src/app/core/services/configrations/configuration.service.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.scss
  angular/src/app/modules/admin/configurations/configurations.component.ts
  angular/src/shared/AppConsts.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/components/export-candidate/export-candidate.component.html
  angular/src/shared/components/export-candidate/export-candidate.component.scss
  angular/src/shared/permission/permissions.ts
  angular/src/shared/shared.module.ts
  angular/src/styles.scss
Due: azure-pipelines-fe-stg.yml

Update export candidate modal and add notify CV setting
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe-stg.yml

Revert appseting
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
  aspnet-core/src/TalentV2.Core/TalentV2CoreModule.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

fix export report - calc score
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/RequestCVCapabilityResultDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/RequisitionInfoDto.cs
Due: azure-pipelines-be-stg.yml

fix bugs and update UI for configuration page
  angular/src/app/core/models/configuration/configuration.model.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.scss
  angular/src/app/modules/admin/configurations/configurations.component.ts
  angular/styles/_util.scss
Due: azure-pipelines-fe-stg.yml

fix bugs and update UI for configuration page
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.scss
  angular/src/app/modules/admin/configurations/configurations.component.ts
Due: azure-pipelines-fe-stg.yml

fix export report
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/DevLevel.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/EducationCandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/RequisitionInfoDto.cs
  aspnet-core/src/TalentV2.Core/Entities/Request.cs
Due: azure-pipelines-be-stg.yml

Fix export report
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml

Fix CV automation settings
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
Due: azure-pipelines-be-stg.yml

fix automation
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
Due: azure-pipelines-be-stg.yml

fix DI service
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
Due: azure-pipelines-be-stg.yml

fix index in export report file
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

hide status dropdown when toggle doesn't turn on
  angular/src/app/modules/admin/configurations/configurations.component.ts
  angular/src/shared/components/export-candidate/export-candidate.component.html
Due: azure-pipelines-fe-stg.yml

Fix export report
  aspnet-core/src/TalentV2.Core/Constants/Enum/CVStatus.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/RequestCVStatus.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateDto.cs
  aspnet-core/src/TalentV2.Core/Entities/CV.cs
Due: azure-pipelines-be-stg.yml

Fix recruitment overview report
  aspnet-core/src/TalentV2.Application/APIs/ReportAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/TotalOverviewHiring.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/IReportManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml

Add position info to onboard notify discord
  aspnet-core/src/TalentV2.Core/Notifications/Komu/KomuNotification.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
Due: azure-pipelines-be-stg.yml

Add position info to onboard notify discord
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
Due: azure-pipelines-be-stg.yml

Fix recruitment overview report
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
Due: azure-pipelines-be-stg.yml

Fix CV status on file export report
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
Due: azure-pipelines-be-stg.yml

Add timing control for CV automation
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Application/Configuration/Dto/NoticeCVAutomationSettingDto.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProviderDefaultValue.cs
  aspnet-core/src/TalentV2.Core/TalentV2CoreModule.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

handle repeat time for crawl cv
  angular/src/app/core/models/configuration/configuration.model.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/CVAutomation/CVAutomationManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

revert comment
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
Due: azure-pipelines-be-stg.yml

Renew UI for Recruitment Overview Report
  angular/src/app/core/models/report/report.model.ts
  angular/src/app/core/services/report/report-overview.service.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Renew Recruitment Overview Report
  angular/src/app/core/models/report/report.model.ts
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
  angular/src/shared/components/export-candidate/export-candidate.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/Dtos/OverviewHiringDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Reports/ReportManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml
