Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - aspnet-core
      - azure-pipelines-be-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: DotnetBuild
    steps: 
    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core/src/TalentV2.Migrator
        dotnet6 publish -c Release
      displayName: 'Dotnet Publish Migrator'

    - script: |
        cd aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/
        zip -r backend_migrator.zip *
      displayName: 'Compress Publish Migrator'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/backend_migrator.zip'
        ArtifactName: 'stg-dotnet-migrator-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Migrator'


    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core
        dotnet6 publish -c Release
      displayName: 'Dotnet Release Host'
    
    - script: |
        cd aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/
        zip -r backend_publish.zip *
      displayName: 'Compress Release Host'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/backend_publish.zip'
        ArtifactName: 'stg-dotnet-host-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Host'

azure-pipelines-fe-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - angular
      - azure-pipelines-fe-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: AngularBuild
    steps:


      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15
          node -v
          echo "=== INSTALL PACKAGE ==="
          npm install
        displayName: 'Install Package'
      
      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15          
          ng build --prod
        displayName: 'Build Frontend'
      
      - script: |
          cd angular/dist
          zip -r frontend_publish.zip *
        displayName: 'Compress Build FE'
        
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'angular/dist/frontend_publish.zip'
          ArtifactName: 'stg-fe-talent'
          publishLocation: 'Container'
        displayName: 'Publish Artifacts Frontend'

refactor code
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

refactor code.
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.ts
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Application/Configuration/Dto/SecretCodeTalentInput.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

:update API
  angular/src/app/core/models/configuration/configuration.model.ts
  angular/src/app/core/services/configrations/configuration.service.ts
Due: azure-pipelines-fe-stg.yml

:
  angular/src/shared/permission/permissions.ts
Due: azure-pipelines-fe-stg.yml

:update appseting
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

updateDefauValue
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProviderDefaultValue.cs
  aspnet-core/src/TalentV2.Core/TalentV2CoreModule.cs
Due: azure-pipelines-be-stg.yml

#54560-v2
  angular/src/app/core/models/configuration/configuration.model.ts
  angular/src/app/core/services/configrations/configuration.service.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.ts
  angular/src/shared/permission/permissions.ts
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Application/Configuration/Dto/SecretCodeTalentInput.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProviderDefaultValue.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
  aspnet-core/src/TalentV2.Core/TalentV2CoreModule.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54568:Update function get URL contest
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/TemplateHelper.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54560:create page language
  angular/src/app/core/models/candidate/candidate-language.model.ts
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/app/core/services/candidate/candidate-language.service.ts
  angular/src/app/core/services/utilities.service.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/candidate/candidate.module.ts
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.html
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.scss
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.ts
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.html
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.scss
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.ts
  angular/src/app/modules/category/category-routing.module.ts
  angular/src/shared/components/multi-select-h-radio/multi-select-h-radio.component.html
  angular/src/shared/components/multi-select-h-radio/multi-select-h-radio.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateLanguageAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CreateCandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/PersonBioDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/UpdatePersonBioDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/CategoryManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/CandidateLanguageDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/ICategoryManager.cs
  aspnet-core/src/TalentV2.Core/Entities/CV.cs
  aspnet-core/src/TalentV2.Core/Entities/CandidateLanguage.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20231229044535_CandidateLanguages.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20231229044535_CandidateLanguages.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

update button create
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.html
Due: azure-pipelines-fe-stg.yml

update permission create-languega
  angular/src/app/modules/candidate/canditate-language/canditate-language.component.html
  angular/src/shared/permission/permissions.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateLanguageAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

:update function GetAccountUserLMS
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml

:update function SendMailRequestCV
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml

:update API Delete Language
  angular/src/app/core/models/candidate/candidate-language.model.ts
  angular/src/app/modules/candidate/canditate-language/language-dialog/language-dialog.component.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateLanguageAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/CategoryManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/CandidateLanguageDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54587:Update Popup create url context and Lms account
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54587:update function createAccount and update Application Result (For HR only)
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54587:update function GetAccountUser
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml

#54587:update function createAccount
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54565:Move Cvdata Capability
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/app/core/services/requisition/requisition-intern.service.ts
  angular/src/app/core/services/requisition/requisition-staff.service.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/RequisitionInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/RequisitionStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateRequestDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/HistoryRequestCVDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

:54587:refactor code
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

:updatate function getDefaultcreateAccout
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54565:update popup KeepRequestCVCapability
  angular/src/app/core/models/requisition/requisition.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/app/core/services/requisition/requisition-intern.service.ts
  angular/src/app/core/services/requisition/requisition-staff.service.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.ts
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/presen-ForHr/presen-ForHr.component.html
  angular/src/shared/pages/create-candidate/current-requisition/presen-ForHr/presen-ForHr.component.scss
  angular/src/shared/pages/create-candidate/current-requisition/presen-ForHr/presen-ForHr.component.ts
  angular/src/shared/shared.module.ts
  aspnet-core/src/TalentV2.Application/APIs/RequisitionInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/RequisitionStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateRequestDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

:54587:add KeepRequestCVCapabilityResults
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

#54587:update function createAccount
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/StatusAccout.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54565:Move Cvdata Capability
  angular/src/app/core/models/requisition/requisition.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/app/core/services/requisition/requisition-intern.service.ts
  angular/src/app/core/services/requisition/requisition-staff.service.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.ts
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/confirm-presentforhr/confirm-presentforhr.component.html
  angular/src/shared/pages/create-candidate/current-requisition/confirm-presentforhr/confirm-presentforhr.component.scss
  angular/src/shared/pages/create-candidate/current-requisition/confirm-presentforhr/confirm-presentforhr.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  angular/src/shared/shared.module.ts
  aspnet-core/src/TalentV2.Application/APIs/RequisitionInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/RequisitionStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateRequestDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/HistoryRequestCVDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54587:update function createAccount
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/StatusAccout.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54565: refactor code.
  angular/src/app/core/models/requisition/requisition.model.ts
  angular/src/app/modules/candidate/candidate-intern-list/candidate-intern-list.component.ts
  angular/src/app/modules/candidate/candidate-staff-list/candidate-staff-list.component.ts
  angular/src/app/modules/requisitiion/requisition-intern/requisition-intern.component.ts
  angular/src/app/modules/requisitiion/requisition-staff/requisition-staff.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/confirm-presentforhr/confirm-presentforhr.component.html
  angular/src/shared/pages/create-candidate/current-requisition/confirm-presentforhr/confirm-presentforhr.component.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/RequisitionInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/RequisitionStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CandidateRequestDto.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54587:update function createAccount
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/StatusCreateAccount.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54516: Capability >fix updating return to the first page
  angular/src/app/core/services/categories/data-sharing-capabillity.service.ts
  angular/src/app/core/services/utilities.service.ts
  angular/src/app/modules/category/capability-setting/capability-setting.component.ts
  angular/src/app/modules/category/capability-setting/edit-guideline-dialog/edit-guideline-dialog.component.ts
Due: azure-pipelines-fe-stg.yml

#54587:refactor code
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#41898:Add menu Release note
  angular/src/app/layout/header-language-menu.component.html
  angular/src/app/layout/sidebar.component.html
  angular/src/app/layout/sidebar.component.scss
Due: azure-pipelines-fe-stg.yml

#41898: refactor code.
  angular/src/app/layout/header-language-menu.component.html
  angular/src/app/layout/sidebar.component.html
  angular/src/app/layout/sidebar.component.scss
Due: azure-pipelines-fe-stg.yml

#41898:update link Release Note
  angular/src/app/layout/sidebar.component.html
Due: azure-pipelines-fe-stg.yml

#54587:update function name
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

#54638:add button Video or files Voice
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/app/core/models/requisition/requisition.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/assets/img/video.png
  angular/src/shared/AppConsts.ts
  angular/src/shared/components/candidate-info-new/candidate-info-new.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.html
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/FileTypes.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/PathFolder.cs
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/UpdateFileDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Interviews/InterviewManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/RequestCVManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Requisitions/Dtos/RequisitionToCloseAndCloneDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Requisitions/RequisitionManager.cs
  aspnet-core/src/TalentV2.Core/Entities/CV.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/FileCandidateService.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/IFileCandidateService.cs
  aspnet-core/src/TalentV2.Core/ModelExtends/UserInfo.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240118073952_EditModelCvs.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20240118073952_EditModelCvs.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54645:uploading CV, name is not displayed
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

Update UserName Contest
  aspnet-core/src/TalentV2.Core/Utils/StringExtensions.cs
Due: azure-pipelines-be-stg.yml

#54793:Updatae Export Candidate
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/components/export-candidate/export-candidate.component.html
  angular/src/shared/components/export-candidate/export-candidate.component.spec.ts
  angular/src/shared/components/export-candidate/export-candidate.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/ExportDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54793:update name function
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#54793:refactor code
  angular/src/app/core/models/candidate/candidate.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/components/export-candidate/export-candidate.component.ts
Due: azure-pipelines-fe-stg.yml
