Repository ncc-erp/ncc-erp-talent-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

azure-pipelines-be-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - aspnet-core
      - azure-pipelines-be-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: DotnetBuild
    steps: 
    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core/src/TalentV2.Migrator
        dotnet6 publish -c Release
      displayName: 'Dotnet Publish Migrator'

    - script: |
        cd aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/
        zip -r backend_migrator.zip *
      displayName: 'Compress Publish Migrator'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Migrator/bin/Release/net6.0/publish/backend_migrator.zip'
        ArtifactName: 'stg-dotnet-migrator-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Migrator'


    - script: |
        export PATH=$PATH:/opt/dotnet6/
        cd aspnet-core
        dotnet6 publish -c Release
      displayName: 'Dotnet Release Host'
    
    - script: |
        cd aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/
        zip -r backend_publish.zip *
      displayName: 'Compress Release Host'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/TalentV2.Web.Host/bin/Release/net6.0/publish/backend_publish.zip'
        ArtifactName: 'stg-dotnet-host-talent'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Host'

azure-pipelines-fe-stg.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - stg

  paths:
    include:
      - angular
      - azure-pipelines-fe-stg.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: AngularBuild
    steps:


      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15
          node -v
          echo "=== INSTALL PACKAGE ==="
          npm install
        displayName: 'Install Package'
      
      - script: |
          cd angular/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.15          
          ng build --prod
        displayName: 'Build Frontend'
      
      - script: |
          cd angular/dist
          zip -r frontend_publish.zip *
        displayName: 'Compress Build FE'
        
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'angular/dist/frontend_publish.zip'
          ArtifactName: 'stg-fe-talent'
          publishLocation: 'Container'
        displayName: 'Publish Artifacts Frontend'

add mezon webhook feature
  angular/src/app/core/models/mezon-webhook/mezon-webhook.model.ts
  angular/src/app/core/services/mezon-webhook/mezon-webhook.service.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/admin/admin-routing.module.ts
  angular/src/app/modules/admin/admin.module.ts
  angular/src/app/modules/admin/mezon-webhooks/create-mezon-webhook-dialog/create-mezon-webhook-dialog.component.html
  angular/src/app/modules/admin/mezon-webhooks/create-mezon-webhook-dialog/create-mezon-webhook-dialog.component.scss
  angular/src/app/modules/admin/mezon-webhooks/create-mezon-webhook-dialog/create-mezon-webhook-dialog.component.ts
  angular/src/app/modules/admin/mezon-webhooks/edit-mezon-webhook-dialog/edit-mezon-webhook-dialog.component.html
  angular/src/app/modules/admin/mezon-webhooks/edit-mezon-webhook-dialog/edit-mezon-webhook-dialog.component.scss
  angular/src/app/modules/admin/mezon-webhooks/edit-mezon-webhook-dialog/edit-mezon-webhook-dialog.component.ts
  angular/src/app/modules/admin/mezon-webhooks/mezon-webhooks.component.html
  angular/src/app/modules/admin/mezon-webhooks/mezon-webhooks.component.scss
  angular/src/app/modules/admin/mezon-webhooks/mezon-webhooks.component.ts
  angular/src/shared/permission/permissions.ts
  aspnet-core/src/TalentV2.Application/APIs/MezonWebhookAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Webhook/Dtos/MezonWebhookDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Webhook/IMezonWebhookManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Webhook/MezonWebhookManager.cs
  aspnet-core/src/TalentV2.Core/Entities/MezonWebhook.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/MezonWebhookService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/SendingContent.cs
  aspnet-core/src/TalentV2.Core/WebServices/WebServiceRegistrar.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20241010073943_Add_MezonWebhooks_table.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20241010073943_Add_MezonWebhooks_table.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Update MezonWebhookAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/MezonWebhookAppService.cs
Due: azure-pipelines-be-stg.yml

change HRNote condition
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
Due: azure-pipelines-be-stg.yml

fix CV Source option is disabled in Personal Info page
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

Fix Total row bug in Recruitment Overview page
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.html
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.scss
Due: azure-pipelines-fe-stg.yml

Fix UI bug in Overview Report page
  angular/src/app/modules/report/recruitment-overview/recruitment-overview.component.ts
Due: azure-pipelines-fe-stg.yml

Profile Avatar
  angular/src/app/modules/ncc-cv/my-profile/my-profile.component.html
  angular/src/app/modules/ncc-cv/my-profile/my-profile.component.scss
Due: azure-pipelines-fe-stg.yml

Add AutobotAppService Backend
  angular/src/app/core/services/candidate/autobot-extract.servive.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
  aspnet-core/src/TalentV2.Application/APIs/AutobotAppService.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Fix bug when send mail with scheduledTestEmailTemplate
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

Update mail variable
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

Change service name
  angular/src/app/core/services/candidate/autobot.servive.ts
  angular/src/shared/pages/create-candidate/personal-info/personal-info.component.ts
Due: azure-pipelines-fe-stg.yml

implement backgroud worker manager
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NCCBackgroundWorkerBase.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/TestNCCWorker.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/BackgroundWorkerState.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/BackgroundWorkerManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/IBackgroundWorkerManager.cs
  aspnet-core/src/TalentV2.Core/Entities/BackgroundWorker.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20241216094658_Add_BackgroundWorker_table.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20241216094658_Add_BackgroundWorker_table.cs
  aspnet-core/src/TalentV2.Web.Host/Startup/HeadHuntWebHostModule.cs
Due: azure-pipelines-be-stg.yml

update background worker timer period
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NCCBackgroundWorkerBase.cs
Due: azure-pipelines-be-stg.yml

Change logic of background worker manager
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NCCBackgroundWorkerBase.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/TestNCCWorker.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/BackgroundWorkerManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/Dtos/BackgroundWorkerDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/IBackgroundWorkerManager.cs
Due: azure-pipelines-be-stg.yml

Change InitialPeriod code
  aspnet-core/src/TalentV2.Application/APIs/BackgroundWorkerAppService.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NCCBackgroundWorkerBase.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/TestNCCWorker.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/BackgroundWorkerManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/BackgroundWorkers/IBackgroundWorkerManager.cs
Due: azure-pipelines-be-stg.yml

Add NotificationSetting feature (BE)
  aspnet-core/src/TalentV2.Application/APIs/BackgroundWorkerAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/NotificationSettingAppService.cs
  aspnet-core/src/TalentV2.Core/Authorization/PermissionNames.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromAWSWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/CrawlCVFromFirebaseWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NoticeInterviewResultWorker.cs
  aspnet-core/src/TalentV2.Core/BackgroundWorker/NoticeInterviewWorker.cs
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/Constants/Enum/NotificationType.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/NotificationSettings/Dtos/MessageTemplateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/NotificationSettings/Dtos/NotificationSettingDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/NotificationSettings/INotificationSettingManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/NotificationSettings/NotificationSettingManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/RequestCVManager.cs
  aspnet-core/src/TalentV2.Core/Entities/BackgroundWorker.cs
  aspnet-core/src/TalentV2.Core/Entities/NotificationSetting.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonWebhook/Dtos/CandidateOfferAcceptedResult.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonWebhook/Dtos/CrawlCVResult.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonWebhook/Dtos/NoticeInterviewResult.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonWebhook/IMezonWebhookNotification.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonWebhook/MezonWebhookNotification.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonWebhook/TemplateToMezon.cs
  aspnet-core/src/TalentV2.Core/Utils/CommonUtils.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/MezonWebhookService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/SendingContent.cs
  aspnet-core/src/TalentV2.Core/WebServices/WebServiceRegistrar.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/Seed/NotificationSettings/DefaultNotificationSettingsCreator.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/Seed/Tenants/DefaultTenantBuilder.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/Seed/Tenants/TenantRoleAndUserBuilder.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/EntityFrameworkCore/TalentV2Context.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250102041622_Add_NotificationSetting_table.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250102041622_Add_NotificationSetting_table.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

Add NotificationSetting feature (FE)
  angular/src/app/core/models/background-worker/background-worker.model.ts
  angular/src/app/core/models/categories/notification-setting.model.ts
  angular/src/app/core/services/background-worker/background-worker.service.ts
  angular/src/app/core/services/categories/notification-setting.service.ts
  angular/src/app/layout/sidebar-menu.component.ts
  angular/src/app/modules/admin/admin-routing.module.ts
  angular/src/app/modules/admin/admin.module.ts
  angular/src/app/modules/admin/background-worker/background-worker.component.html
  angular/src/app/modules/admin/background-worker/background-worker.component.scss
  angular/src/app/modules/admin/background-worker/background-worker.component.ts
  angular/src/app/modules/category/category-routing.module.ts
  angular/src/app/modules/category/category.module.ts
  angular/src/app/modules/category/notification-setting/edit-message-template-dialog/edit-message-template-dialog.component.html
  angular/src/app/modules/category/notification-setting/edit-message-template-dialog/edit-message-template-dialog.component.scss
  angular/src/app/modules/category/notification-setting/edit-message-template-dialog/edit-message-template-dialog.component.ts
  angular/src/app/modules/category/notification-setting/notification-setting.component.html
  angular/src/app/modules/category/notification-setting/notification-setting.component.scss
  angular/src/app/modules/category/notification-setting/notification-setting.component.ts
  angular/src/app/modules/category/notification-setting/preview-message-template-dialog/preview-message-template-dialog.component.html
  angular/src/app/modules/category/notification-setting/preview-message-template-dialog/preview-message-template-dialog.component.scss
  angular/src/app/modules/category/notification-setting/preview-message-template-dialog/preview-message-template-dialog.component.ts
  angular/src/shared/permission/permissions.ts
Due: azure-pipelines-fe-stg.yml

mezon auth implementation
  angular/src/account/account-routing.module.ts
  angular/src/account/account.module.ts
  angular/src/account/auth-callback/auth-callback.component.html
  angular/src/account/auth-callback/auth-callback.component.scss
  angular/src/account/auth-callback/auth-callback.component.spec.ts
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/WebServices/WebServiceRegistrar.cs
  aspnet-core/src/TalentV2.Web.Core/Controllers/Dtos/TokenDto.cs
  aspnet-core/src/TalentV2.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

mezon service models
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/MezonServiceConfig.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/OAuth2Request.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/OAuth2TokenResponse.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/RefreshTokenRequest.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/MezonService.cs
Due: azure-pipelines-be-stg.yml

update github workflow
  .github/workflows/deploy_server_dev_fe.yml
  .github/workflows/deploy_server_prod_fe.yml
  .github/workflows/deploy_server_stg_fe.yml
Due: none

features add get interview info by date
  aspnet-core/src/TalentV2.Application/APIs/InterviewAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Interviews/Dtos/InterviewInfoDto.cs
  aspnet-core/src/TalentV2.Core/DomainServicesWithoutWorkScope/CandidateManager/CandidateManagerWithouWS.cs
  aspnet-core/src/TalentV2.Core/DomainServicesWithoutWorkScope/CandidateManager/ICandidateManagerWithouWS.cs
Due: azure-pipelines-be-stg.yml

features add get interview info by date
  aspnet-core/src/TalentV2.Application/APIs/InterviewAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/InterviewInfoDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServicesWithoutWorkScope/CandidateManager/CandidateManagerWithouWS.cs
  aspnet-core/src/TalentV2.Core/DomainServicesWithoutWorkScope/CandidateManager/ICandidateManagerWithouWS.cs
Due: azure-pipelines-be-stg.yml

mezon app authentication
  angular/angular.json
  angular/src/account/account-routing.module.ts
  angular/src/account/account.module.ts
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/account/mezon-auth/mezon-auth.component.html
  angular/src/account/mezon-auth/mezon-auth.component.scss
  angular/src/account/mezon-auth/mezon-auth.component.spec.ts
  angular/src/account/mezon-auth/mezon-auth.component.ts
  angular/src/app-pre-bootstrap.ts
  angular/src/app/app.component.ts
  angular/src/app/app.module.ts
  angular/src/app/core/services/apis/app-configuration.service.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  angular/src/app/core/services/configrations/configuration.service.ts
  angular/src/app/modules/admin/configurations/configurations.component.html
  angular/src/app/modules/admin/configurations/configurations.component.ts
  angular/src/assets/js/mezon-web-sdk.js
  angular/src/patches/abp.patch.js
  angular/src/shared/AppConsts.ts
  angular/src/shared/auth/auth-route-guard.ts
  angular/src/shared/session/app-session.service.ts
  angular/src/types/mezon/index.d.ts
  angular/src/types/mezon/user-types.ts
  angular/src/types/mezon/webview/constant.d.ts
  angular/src/types/mezon/webview/index.d.ts
  angular/src/types/mezon/webview/types.d.ts
  angular/src/types/mezon/webview/utils.d.ts
  angular/src/types/mezon/webview/webview.d.ts
  aspnet-core/src/TalentV2.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/TalentV2.Application/Configuration/Dto/MezonAppChannelInput.cs
  aspnet-core/src/TalentV2.Core/Authorization/Dto/MezonHashAuthDto.cs
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/Utils/HashingUtils.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/MezonServiceConfig.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/MezonService.cs
  aspnet-core/src/TalentV2.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

remove unuse imports
  angular/src/app/app.module.ts
Due: azure-pipelines-fe-stg.yml

features: add some information for interview candidate
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/InterviewInfoDto.cs
Due: azure-pipelines-be-stg.yml

update information interview candidate
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/InterviewInfoDto.cs
Due: azure-pipelines-be-stg.yml

update CV infomation of interview
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/InterviewInfoDto.cs
Due: azure-pipelines-be-stg.yml

update hash function
  angular/src/account/account-routing.module.ts
  angular/src/account/account.component.ts
  angular/src/account/account.module.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/account/mezon-auth/mezon-auth.component.html
  angular/src/account/mezon-auth/mezon-auth.component.scss
  angular/src/account/mezon-auth/mezon-auth.component.spec.ts
  angular/src/account/mezon-auth/mezon-auth.component.ts
  angular/src/app/core/helpers/utils.helper.ts
  angular/src/app/core/services/apis/mezon-api.service.ts
  angular/src/shared/auth/auth-route-guard.ts
  aspnet-core/src/TalentV2.Core/Authorization/Dto/MezonHashAuthDto.cs
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/Utils/HashingUtils.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

feature add interview url
  angular/src/app/core/models/candidate/candiadte-requisition.model.ts
  angular/src/app/core/services/candidate/candidate-intern.service.ts
  angular/src/app/core/services/candidate/candidate-staff.service.ts
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Application/APIs/CandidateInternAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/CandidateStaffAppService.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/CurrentRequisitionCandidateDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/InterviewInfoDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/Dtos/UpdateInterviewUrlDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/ICandidateManager.cs
  aspnet-core/src/TalentV2.Core/Entities/RequestCV.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250318121107_add_column_interview_url.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250318121107_add_column_interview_url.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

Fix toast should show one time when success
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

update mezon app authentication
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
Due: azure-pipelines-be-stg.yml

Fix: update UI for add interview URL
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.html
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.scss
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
Due: azure-pipelines-fe-stg.yml

update launch allowance
  aspnet-core/src/TalentV2.Core/Constants/Const/TalentConstants.cs
Due: azure-pipelines-be-stg.yml

remove validation meeting url
  angular/src/shared/pages/create-candidate/current-requisition/current-requisition.component.ts
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/Dtos/AllInformationRequestCVDto.cs
  aspnet-core/src/TalentV2.Core/Notifications/Mail/MailService.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml

#mezon webhook - update BE
  aspnet-core/src/TalentV2.Application/APIs/CommonAppService.cs
  aspnet-core/src/TalentV2.Application/APIs/MezonWebhookAppService.cs
  aspnet-core/src/TalentV2.Application/InternalTools/ProjectToolAppService.cs
  aspnet-core/src/TalentV2.Core/Constants/Const/MezonWebhookConstant.cs
  aspnet-core/src/TalentV2.Core/Constants/Dictionary/DictionaryHelper.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Candidates/CandidateManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Categories/Dtos/CategoryDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/RequestCVs/RequestCVManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Webhook/Dtos/MezonWebhookDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/Webhook/MezonWebhookManager.cs
  aspnet-core/src/TalentV2.Core/Entities/MezonWebhook.cs
  aspnet-core/src/TalentV2.Core/NccCore/Extension/StringEx.cs
  aspnet-core/src/TalentV2.Core/Notifications/MezonMessageTemplates/MezonMessageTemplate.cs
  aspnet-core/src/TalentV2.Core/Notifications/Templates/Dtos/RequestFromProjectTemplate.cs
  aspnet-core/src/TalentV2.Core/Utils/CommonUtils.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/Dtos/MezonImage.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/Dtos/MezonMention.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/Dtos/MezonMessage.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/Dtos/MezonTextFormat.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/Dtos/MezonWebhookMessageDto.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/MezonWebhookService.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/MezonWebhooks/SendingContent.cs
  aspnet-core/src/TalentV2.Core/WebServices/WebServiceRegistrar.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250323142137_Add_MezonWebhook_table.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250323142137_Add_MezonWebhook_table.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/TalentV2DbContextModelSnapshot.cs
Due: azure-pipelines-be-stg.yml

#mezon webhook - update FE
  angular/src/app/core/models/common/common.dto.ts
  angular/src/app/core/models/mezon-webhook/mezon-webhook.model.ts
  angular/src/app/core/services/common.service.ts
  angular/src/app/core/services/utilities.service.ts
  angular/src/app/modules/admin/mezon-webhooks/create-mezon-webhook-dialog/create-mezon-webhook-dialog.component.html
  angular/src/app/modules/admin/mezon-webhooks/create-mezon-webhook-dialog/create-mezon-webhook-dialog.component.ts
  angular/src/app/modules/admin/mezon-webhooks/edit-mezon-webhook-dialog/edit-mezon-webhook-dialog.component.html
  angular/src/app/modules/admin/mezon-webhooks/edit-mezon-webhook-dialog/edit-mezon-webhook-dialog.component.ts
  angular/src/app/modules/admin/mezon-webhooks/mezon-webhooks.component.html
  angular/src/app/modules/admin/mezon-webhooks/mezon-webhooks.component.scss
  angular/src/app/modules/admin/mezon-webhooks/mezon-webhooks.component.ts
Due: azure-pipelines-fe-stg.yml

update api for mezon bot
  aspnet-core/src/TalentV2.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/TalentV2.Application/Ncc/MezonBotAuthAttribute.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/TalentV2.Core/Configuration/AppSettingProviderDefaultValue.cs
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/Dtos/CreateMezonInternCVDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/Dtos/MezonCVDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/Dtos/MezonCVFormDto.cs
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/IMezonCVManager.cs
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/MezonCVManager.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/FileCandidateService.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/IFileCandidateService.cs
  aspnet-core/src/TalentV2.Core/TalentV2CoreModule.cs
  aspnet-core/src/TalentV2.Web.Host/appsettings.json
Due: azure-pipelines-be-stg.yml

update phone number
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/MezonCVManager.cs
Due: azure-pipelines-be-stg.yml

update submit cv from mezon function
  aspnet-core/src/TalentV2.Core/DomainServices/MezonCVs/MezonCVManager.cs
  aspnet-core/src/TalentV2.Core/FileServices/Services/Candidates/FileCandidateService.cs
Due: azure-pipelines-be-stg.yml

add MezonUserId to user property
  angular/src/app/modules/admin/users/create-user/create-user-dialog.component.html
  angular/src/app/modules/admin/users/edit-user/edit-user-dialog.component.html
  angular/src/shared/service-proxies/service-proxies.ts
  aspnet-core/src/TalentV2.Application/Users/Dto/CreateUserDto.cs
  aspnet-core/src/TalentV2.Application/Users/Dto/UserDto.cs
  aspnet-core/src/TalentV2.Core/Authorization/LoginManager.cs
  aspnet-core/src/TalentV2.Core/Authorization/Users/User.cs
  aspnet-core/src/TalentV2.Core/WebServices/ExternalServices/Mezon/Dtos/UserInfoResponse.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250606103754_AddMezonUserIdColumn.Designer.cs
  aspnet-core/src/TalentV2.EntityFrameworkCore/Migrations/20250606103754_AddMezonUserIdColumn.cs
Due: azure-pipelines-be-stg.yml, azure-pipelines-fe-stg.yml
